<!-- <app-header></app-header> -->



<form [formGroup]="loginForm"  (ngSubmit)="loginUser()">

	<input type="text" name="name" id="name" placeholder="Enter Name"  formControlName="user">
	<br>
	<span style="color: red;" *ngIf="user && user.invalid && user.touched">This fields is not valid</span>
	<br>
	<input type="password" name="email" id="email" placeholder="Enter password" formControlName="password">
	<br>
	<span style="color: red;" *ngIf="password && password.invalid && password.touched">This fields is not valid</span>
	<br>
	<button [disabled]="loginForm.invalid">Login</button>

</form>



<!-- <h1>This is blogs</h1> -->

<!-- <h1>Hell</h1> -->
<!-- 
<input type="text" [(ngModel)]="name">

{{name}} -->

<!--  
<ul *ngFor="let user of userDetials">
	<app-register [item]="user" ></app-register>
</ul> -->




<!-- <input type="text" name="text" id="text" placeholder="Enter Task" #task>

<button (click)="addTask(task.value)">Add Task</button>


<ul *ngFor="let item of list">
	<li >{{item.name}}</li>
	<button (click)="removeTask(item.id)">remove</button>
</ul> -->

<!-- <h1>This is angular project {{title}}</h1>


<section>
	<div class="example-label">FAB</div>
	<div class="example-button-row">
	  <div class="example-flex-container">
		<div class="example-button-container">
		  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
			<mat-icon>delete</mat-icon>
		  </button>
		</div>
		<div class="example-button-container">
		  <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
			<mat-icon>bookmark</mat-icon>
		  </button>
		</div>
		<div class="example-button-container">
		  <button mat-fab color="warn" aria-label="Example icon button with a home icon">
			<mat-icon>home</mat-icon>
		  </button>
		</div>
		<div class="example-button-container">
		  <button mat-fab disabled aria-label="Example icon button with a heart icon">
			<mat-icon>favorite</mat-icon>
		  </button>
		</div>
	  </div>
	</div>
  </section>




<mat-slider min="1" max="5" step="0.5" value="1.5">
	<input matSliderThumb>
  </mat-slider>

<p>
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
</p>



<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
	<ngb-panel title="Simple">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<span>&#9733; <b>Fancy</b> title &#9733;</span>
		</ng-template>
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
	<ngb-panel title="Disabled" [disabled]="true">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
</ngb-accordion>





<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <table align="center" border="2">
        <tr>
            <th>Name:</th>
            <td> <input type="text" ngModel name="name" id="name" placeholder="Enter Name"></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><input type="text" ngModel name="email" id="email" placeholder="Enter Email"></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type="password" ngModel name="password" id="password" placeholder="Enter password"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button>Submit</button></td>
    
        </tr>
</table>
</form>
<br>
<hr>
<br> -->


<!-- <ul>
    <li *ngFor="let item of userData">{{item.task}></li>
</ul> -->

<!-- <table align="center" border="2">
    <tr>
    <th>Name:</th>
    <th>Email</th>
    <th>Password</th>
</tr>
<tr>
    <td >{{userData.name}}</td>
    <td >{{userData.email}}</td>
    <td >{{userData.password}}</td>

</tr>
</table>
 -->


































<!-- #Demo Work -->


<!-- <h2>{{data}}</h2>
<h1>{{getfun( )}}</h1> -->
<!-- <app-login></app-login> -->
<!-- <app-register> </app-register> -->
<!-- <app-demo></app-demo>
<app-students></app-students>
<app-country></app-country>
<app-sign-in></app-sign-in> -->

<!-- <button (click)="counter('minus')">--</button>
<br>
<p>Count :: {{count}}</p>
<br>
<button (click)="counter('add')">++</button>

 -->

<!-- <input type="text" name="user-name" id="name" value="{{name}}">
<br>
<br>
<input type="text" name="user-name" id="name" [value]="name"> -->

<!-- 
<ul *ngFor="let item of userDetails">
    <li>{{item.name}}</li>
    <li>{{item.email}}</li>
    <li>{{item.phonno}}</li>
    <li>social media</li>
    <ul *ngFor="let items of item.soicalmedi">
        <li>{{items}}</li>

    </ul>

    
</ul> -->